<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>My shop</title>
</head>
<body>
<header>
  {% include "navbar.html" with request=request %}
</header>
    <div class='container'>
        {% block for_login %}{% endblock %}
        {% block for_logout %}{% endblock %}
        {% block review %}{% endblock %}
        {% block doctitle %}{% endblock %}
        {% block content %}{% endblock content %}
        {% block doctitlee %}{% endblock %}
        {% block contentt %}{% endblock contentt %}
        {% block about %}{% endblock about %}
        {% block product_list_link %}{% endblock product_list_link %}
        {% block hello %}{% endblock hello %}
        {% block products_list %}{% endblock products_list %} 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    </script>
</body>
</html>